<div class="container-fluid d-flex flex-column pe-4 ps-4" style="height: 100%;">
    <div>
        <h1>{{ msg }}</h1>
        <p>
            Use buttons below to control the robot
        </p>

        <label for="speedInput" class="form-label">Speed</label>
        <input v-model="speedValue" type="range" class="form-range" min="0" max="100" step="1" id="speedInput">

        <!-- <template v-if="statusLoaded">
            <h3>Installed CLI Plugins</h3>
            <p>
                {{status}}
            </p>
        </template>
        <template v-if="isModeChanging">
            <h3>Mode changing...</h3>
        </template>
        <template v-if="hasModeError">
            <h3>Mode error!</h3>
        </template>
        <template v-if="isSpeedChanging">
            <h3>Speed changing...</h3>
        </template>
        <template v-if="hasSpeedError">
            <h3>Speed error!</h3>
        </template> -->
    </div>
    <div class="d-flex flex-column justify-content-end flex-grow-1">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-between">
                <button @touchstart="rotateToLeft" @touchend="stop" @mousedown="rotateToLeft" @mouseup="stop" type="button" class="btn btn-secondary me-2 me-sm-4 tall-button">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <span>&nbsp;Left&nbsp;</span>
                        <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path fill="white" d="M1408 960v-128q0-26-19-45t-45-19h-502l189-189q19-19 19-45t-19-45l-91-91q-18-18-45-18t-45 18l-362 362-91 91q-18 18-18 45t18 45l91 91 362 362q18 18 45 18t45-18l91-91q18-18 18-45t-18-45l-189-189h502q26 0 45-19t19-45zm256-64q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                            </g>
                        </svg>
                    </div>
                </button>
                <button @touchstart="rotateToRight" @touchend="stop" @mousedown="rotateToRight" @mouseup="stop" type="button" class="btn btn-secondary tall-button">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <span>Right</span>
                        <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path fill="white" d="M1413 896q0-27-18-45l-91-91-362-362q-18-18-45-18t-45 18l-91 91q-18 18-18 45t18 45l189 189h-502q-26 0-45 19t-19 45v128q0 26 19 45t45 19h502l-189 189q-19 19-19 45t19 45l91 91q18 18 45 18t45-18l362-362 91-91q18-18 18-45zm251 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                            </g>
                        </svg>
                    </div>
                </button>
            </div>

            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row justify-content-between">
                    <button v-on:click="stop" type="button" class="btn  btn-danger me-2 ms-2 me-sm-4 ms-sm-4 tall-button">
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <span>Stop</span>
                            <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path fill="white" d="M1216 1184v-576q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v576q0 14 9 23t23 9h576q14 0 23-9t9-23zm448-288q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                                </g>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <button @touchstart="goForward" @touchend="stop" @mousedown="goForward" @mouseup="stop" type="button" class="btn btn-secondary mb-5">
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path fill="white" d="M1412 895q0-27-18-45l-362-362-91-91q-18-18-45-18t-45 18l-91 91-362 362q-18 18-18 45t18 45l91 91q18 18 45 18t45-18l189-189v502q0 26 19 45t45 19h128q26 0 45-19t19-45v-502l189 189q19 19 45 19t45-19l91-91q18-18 18-45zm252 1q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                                </g>
                            </svg>
                            <span>Forward</span>
                        </div>
                    </button>
                    <button @touchstart="goBackward" @touchend="stop" @mousedown="goBackward" @mouseup="stop" type="button" class="btn btn-secondary">
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <span>&nbsp;Backward</span>
                            <svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path fill="white" d="M1412 897q0-27-18-45l-91-91q-18-18-45-18t-45 18l-189 189v-502q0-26-19-45t-45-19h-128q-26 0-45 19t-19 45v502l-189-189q-19-19-45-19t-45 19l-91 91q-18 18-18 45t18 45l362 362 91 91q18 18 45 18t45-18l91-91 362-362q18-18 18-45zm252-1q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                                </g>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
